{% extends 'base.html' %}

{% block title %} Home{% endblock %}

{% block body %} 
    <div class="my-3">
      <a class="btn btn-primary" href="{% url 'addmember' %}" role="button">Add member</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">City</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        
        <tbody>
          
          {% for i in obs %}
          <tr>
            <th scope="row">{{i.name}}</th>
            <td>{{i.age}}</td>
            <td>{{i.city}}</td>
            <td><a class="btn btn-primary" href="{% url 'update' i.id %}" role="button">Update</a></td>
            <td><a class="btn btn-danger" href="{% url 'delete' i.id %}" role="button">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

      {% endblock %}